@model PierreTreats.Models.Treat;

<h2> Treat Details </h2>
<hr />
<h3> @Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>
<h5> @Html.DisplayNameFor(model => model.TreatDescription): @Html.DisplayFor(model => model.TreatDescription)</h5>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Treat currently has no associated flavors</p> 
}
else 
{
  <h4> Flavors in the tasty treat: </h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
}
<p>@Html.ActionLink("Add a flavor", "AddFlavor", new {id = Model.TreatId})</p>
<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>